{% extends 'base.html' %}
    {% block content %}
    <h4>Register for a Subscriber Account</h4>
    <form class="create_user" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="row">
                <div class="four columns offset-by-four">
                    {{field.label_tag}}{{field}}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <p class=form_error>{{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <button class="four columns offset-by-four register_submit" type="submit" name="">Register</button>
        </div>
    </form>
    {% endblock %}
