<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Demo Comics App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
        <script src="{% static 'js/font_resize.js' %}"></script>
    </head>
    <body>
        <!--<script src="{% static 'js/facebook_init.js' %}"></script> -->
        <div class="container">
            <h2>DEMO VERSION</h2>
            <h5>Do whatever you like, this is just the prototype!</h5>
            <div class="row nav_bar">
                {% if user.is_authenticated %}
                <div class="three columns nav_div">
                    <a href="{% url 'users:profile' %}"><button type="button" name="button">Account</button></a>
                </div>
                <div class="three columns">
                    <a href="{% url 'comics:index' %}"><button type="button" name="button">Browse Comics</button></a>
                </div>
                <div class="three columns">
                    <a href="{% url 'comics:manage' %}"><button type="button" name="button">Subscriptions</button></a>
                </div>
                <div class="three columns">
                    <a href="{% url 'users:logout' %}"><button type="button" name="button">Log out!</button></a>
                </div>
                {% else %}
                <div class="six columns">
                    <a href="{% url 'comics:index' %}"><button type="button" name="button">Browse Comics</button></a>
                </div>
                <div class="six columns">
                    <a href="{% url 'users:login' %}"><button type="button" name="button">Log in!</button></a>
                </div>
                {% endif %}
            </div>
            <div class="main_content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="row footer">
                <div class="six columns offset-by-three">
                    <a href="http://www.ryanfleharty.com"><button type="button" name="button">Return to Portfolio Site</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
